{{#> molecule-section sectionId='interests' sectionTitleKey='INTERESTS' data=r.interests}}
  {{#*inline 'section-gallery-item'}}
    <div>
    <h3>{{{ name }}}</h3>

    {{{ summary }}}

    {{> highlights }}
    </div>
  {{/inline}}
{{/molecule-section}}
