{{#section "interests"}}
<section id="interests">
  {{#> header-interests }}
    {{> header-simple _title="INTERESTS" _section="interests" _hdricon=(lookup . '_icon') }}
  {{/header-interests}}
  {{#each r.interests}}
    {{#> body-interests }}
    <div>
    <h3><em>{{{ name }}}</em></h3>

    {{{ summary }}}

    {{> highlights }}
    </div>
    {{/body-interests}}
  {{/each}}
</section>
{{/section}}
