@import url('https://fonts.googleapis.com/css?family=Barlow:700,900');
@import url('https://fonts.googleapis.com/css?family=Muli');

:root {
  --brand-primary: #5400E5;
  --container-width: 720px;
  --text-secondary: #777D82;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Muli, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Barlow, Arial, sans-serif;
  line-height: 1.15;
}

h1,
h2,
h3 {
  font-weight: 900;
}

.timeline,
.henlo-list {
  list-style: none;
  margin: 0;
  padding: 0px;
}

.henlo-list li {
  margin-bottom: 0.33em;
}

.timeline-item {
  padding-bottom: 50px;
  padding-left: 16px;
  position: relative;
}

.timeline-item:after,
.timeline-item:before {
  content: '';
  display: block;
  position: absolute;
}

.timeline-item:after {
  background-color: #c9cccf;
  border: 6px solid #ffffff;
  border-radius: 50%;
  height: 10px;
  left: -9px;
  top: 0;
  width: 10px;
}

.timeline-item:before {
  background-color: #c9cccf;
  bottom: 0;
  left: 0;
  top: 0;
  width: 2px;
}

.henlo-header,
section /* temporary */ {
  margin: auto;
  position: relative;
  width: var(--container-width);
}

.henlo-header {
  padding-bottom: 30px;
  padding-top: 30px;
}

.header-img {
  background-color: var(--brand-primary);
  display: none;
  position: absolute;
  left: -40px;
  flex-wrap: wrap;
  width: 80px;
  height: 80px;
}

.header-img span {
  flex: 0 0 40%;
  padding: 5%;
}

.header-title {
  margin: 0;
  margin-bottom: .3em;
  text-transform: uppercase;
}

.header-subtitle {
  color: var(--brand-primary);
  font-weight: 700;
  margin: 0;
  margin-bottom: .5em;
}

.header-text {
  color: var(--text-secondary);
  margin: 0;
  margin-bottom: 1em;
}

.section {
  margin-top: 72px;
}

.section-title {
  color: #c9cccf;
  font-size: .9rem;
  margin: 0;
  margin-bottom: 36px;
  text-transform: uppercase;
}

.hvpod-title {
  margin: 0;
  margin-bottom: 1em;
}
